<mat-toolbar color="primary">
  <mat-toolbar-row>
    <section class="row between-xs middle-xs header-row">
      <nav class="col-md-9">
        <ul>
          <a mat-button [routerLink]="['/home']" routerLinkActive="active">Init</a>
          <a mat-button routerLink="/products" routerLinkActive="active">Products</a>
          <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a>
        </ul>
      </nav>
      <div class="col-md-2">
        <a mat-button (click)="installByUser()" *ngIf="installEvent" class="mr">Install App</a>
        <a routerLink="order" mat-raised-button [matBadge]="total$ | async" matBadgeColor="accent">
          <mat-icon aria-hidden="false" aria-label="shopping cart icon">shopping_cart</mat-icon>
          Carrito
        </a>
      </div>

    </section>
  </mat-toolbar-row>

</mat-toolbar>
