.header-row {
  width: 100%;

  nav {
    .active {
      // color: blue;
      text-decoration: underline;
    }
  }

  .mr {
    margin-right: 10px;
  }
}

@media (max-width: 400px) {
  .mat-toolbar-row {
    height: 85px;
  }
}
