<section class="about">
  <div class="about__container">
    <h2 class="about__container--title">Sobre Nosotros</h2>
    <div class="about__container--content">
      <figure class="about__container--image">
        <img src="assets/images/banner-2.png" alt="Contactanos">
      </figure>
      <div class="about__container--text">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus libero recusandae accusamus quis
          maiores rem, aut corporis dolorem fugit in nobis? Doloribus repellendus qui fugiat ad quidem nemo minima
          magni.
          Id excepturi magnam laborum sint
          esse pariatur soluta ratione perspiciatis, quia repellendus culpa, quam, adipisci sit quae vitae vel? Quos,
          corporis nostrum. Dolorem culpa facere hic delectus debitis tenetur ad quaerat ipsam! Lorem ipsum dolor sit,
          amet consectetur
          adipisicing elit.
        </p>
      </div>
    </div>
  </div>
</section>
