@import '~@angular/material/theming';

$primary: mat-palette($mat-indigo);

footer {
  padding: 50px 16px;
  margin-top: 20px;
  background-color: mat-color($primary);

  .mat-form-field {
    input {
      &::placeholder {
        color: white;
      }
    }
  }

  .box {
    h3 {
      color: white;
    }

    .input-email {
      color: white;
      border-color: white !important;

      &::placeholder {
        color: white !important;
      }
    }

    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;

      li {
        margin: 10px 0px;

        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }

  .text-danger {
    color: darkred;
  }
}
